.banner{

width: 100%;
height: 80vh;
margin-top: 60px;
}

.bola{
    position: absolute;
width: 100%;
height: 840px;
background: radial-gradient(41.62% 41.62% at 50% 50%, rgba(0, 79, 255, 0.7) 0%, rgba(0, 79, 255, 0.021) 100%);
backdrop-filter: blur(50px);
z-index: -10;
}

.letreiro {
    display: flex;
    height: 100%;
    justify-content: center;
    align-items: center
}

.letreiro h1{
    

    position: absolute;

font-family: Spratthin;
font-style: normal;
font-weight: 10;
font-size: 200px;
line-height: 240px;
/* identical to box height */


color: #000000;
}

.letreiro #linha{
   
    width: 979px;
    border: 1px solid #000000;
    margin-top: 220px;
}

.grade{
   /* width: 100%;*/
    /* display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
     */
     margin-top: 200px;
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    
}

.linha{
    max-width: 100%;
    padding: 0 4px;

    /* margin-top: 5%; */
    /* margin-left: 40px; */
    padding-left: 40px;
    padding-right: 40px;
    display: flex;
    flex-direction: row;
    /* width: 100%; */
    /* height: 40%; */
}

.imgcontainer{
    margin: 0 7px;
    margin-top: 8px;
    /* height: 100%; */
    background-color: white;
    /* border: 0.5px solid #000000; */
    cursor: pointer;
    position: relative;
    max-width: 33.3333%;
}

.img-gal{
    width: 100%;
    height: 100%;
    position: relative;
    object-fit: cover;
    filter: grayscale(100%);
  }
/* .imgcontainer img{
    width: 100%;
    vertical-align: middle;
    margin-top: 8px;
} */


.hover-img {
    position: absolute;
    left: 0;
    width: 100%;
    height: 100%;
    z-index:10;
    background-color: rgb(0, 0, 0);
    color: white;
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
    align-items: center;
  
    top: 0;
    visibility: visible;
      opacity: 0;
      transition: opacity 0.3s ease;

  }
  .img-text{
    font-family: Roboto;
    text-align: center;
    font-weight: 700;
    font-size: 1.2em;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  .number {
    font-family: Spratthin;
    text-align: center;
    font-weight: 700;
    font-size: 3em;
    letter-spacing: 1px;
    margin-top: 20px;
  }
  
  .img-gal:hover ~ .hover-img, .hover-img:hover {
    visibility: visible;
        opacity: 1;
  }