*{
    margin: 0;
    padding: 0;
}

body{
    /*background-image: url("../img/fundo_home.png");*/
    /*background-color: #C6DADD;*/
    overflow-x: hidden;
    

}

main{
   
  align-items: top;
  margin-left: 30px;
  margin-top: 30px;
  

}

.primeiro{
    position:relative;
    margin-bottom: 50px;
    opacity:1;
}
.primeiro:not(:hover){
    position:relative;
    opacity: 0.4;
}
.segundo{
    margin-bottom: 50px;
    opacity:1;
    position: absolute;
    top: 320px;
}
.segundo:not(:hover){
    position: absolute;
    top: 350px;
    opacity:0.4;
}
.terceiro{
    position: absolute;
    top: 400px;
    margin-bottom: 50px;
    opacity:1;
}
.terceiro:not(:hover){
    position: absolute;
    top: 450px;
    opacity:0.4;
}
.works img{
    float: right;
    display: block;

}


h1{
    float:left;
    width:350px;
    margin-right: 180px;;
    font-size: 60px;
  
}



/*
class
.section_1{  
}

#id{
}
*/

/*
@media (max-width: 1300px) { /*------------------------------------------1300*/



@media (max-width: 1000px) {
    /*--------------------------------------------------------------1000 laptop*/
}
@media (max-width: 700px) {
    /*------------------------------------------------------------------700 tablet*/
}
@media (max-width: 425px) { /*mobile*/
}

