*, *:after, *:before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  .topnavbar {
    top: 0;
    left: 0;
    width: 100%;
    height: 70px;
    background-color: white;
    display: inline-flex;
    position: fixed;
    flex-direction: row;
    /* flex-wrap: nowrap; */
    align-items: center;
    justify-content: center;
    z-index: 1;
  }
  
  #titulo {
    width: 60%;
    font-weight: 700;
    font-size: 3em;
    padding-left: 20px;
    padding-top: 2px;
    letter-spacing: 3px;
    /*word-spacing: 4px;*/
  }
   .topics {
     width: 30%;
     display: flex;
      flex-direction: row;
      align-content: center;
      justify-content: space-between;
      align-items: center;
   }
  
  #search {
    width: 10%;
  display: flex;
    padding-top: 5px;
    align-items: center;
    justify-content: space-around;
  }