.main {
    min-height: 80vh;
    

}

img{
    width: 80vw;
}

.linha {
    padding: 16px;

}

#slides{
    padding-top: 10vw;
    padding-bottom: 0;
    list-style-type: none;

}

.slide {
    position: absolute;
    left: 0;
    top: 135px;
    opacity: 0;
    z-index: 1;
    -webkit-transition: opacity 1s;
    -moz-transition: opacity 1s;
    -o-transition: opacity 1s;
    transition: opacity 1s;
   
}

.showing{
    opacity: 1;
    z-index: 2;
    width: 80vw;

}


li.slide{
    padding: 0 10vw;
    width: 80vw;
}

.project-title {
    margin-left: 5vw;
    margin-right: 5vw;
    min-height: 10%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: white;
    background-color: #2E3131;
    margin-top: 30%;
    top: 100vh;
    z-index: 10;


}

.project-title h2 {
    margin: 0;
}

.projectinfo{
    margin-left: 10vw;
    margin-right: 10vw;
    margin-top: 5vh;
    min-height: 10%;
    display: flex;
    align-items: center;
    padding: 8px 16px;
    color: #5F5F5F;
    background-color: #eeeeee;
}


.controls{
    background: #333;
    color: #fff;
    padding: 16px 0px;
    font-size: 16px;
    cursor: pointer;
    border: 1px solid #333;
    margin: 10px 0px 0px 10px;
    width: 70px;
}

.controls:hover,
.controls:focus{
    background: #333;
    color: #fff;
}

.buttons{
    position: relative;
    z-index: 10;
    font-size: 0px;
    margin-top: 32%;
    display: flex;
    justify-content: center;
}

.empregos{
    position: relative;
    z-index: 10;
    margin-top: 32%;
    display: flex;
    justify-content: left;
    padding: 0;
}


@media (max-width:700px) {
  
}
